{% extends 'User/Head.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <form name="frmcal" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Number-1</td>
                <td><input type="text" name="txtno1"></td>
            </tr>
            <tr>
                <td>Number-2</td>
                <td><input type="text" name="txtno2"></td>
            </tr>
            <tr>
                
                <td colspan="2" align="center">
                    <input type="submit" name="btnsubmit" value="+">
                    <input type="submit" name="btnsubmit" value="-">
                </td>
            </tr>
            <tr>
                <td>Result</td>
                <td>{{ res }}</td>
            </tr>
        </table>
    </form>
</body>
</html>

{% endblock content %}