{% extends 'User/Head.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
         <table border="1" align="center">

        <tr>
            <th>Name</th>
           <td><input type="text" name="txt_name" id="" value="{{USER.newuser_name}}"></td>
        </tr>   
        <tr>
            <th>contact</th>
            <td><input type="text" name="txt_contact" id="" value="{{USER.newuser_contact}}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" name="txt_email" id="" value="{{USER.newuser_email}}">
            </td>
         </tr>

         <tr>
            <td>address</td>
          <td><input type="text" name="txt_address" id="" value="{{USER.newuser_address}}"></td>    
        </tr>
        <tr>
        <td colspan "2" align="center">
        <input type="submit" name="update" value="update">
        <input type="reset" name="btnreset" value="cancel">
        </td>
    </tr>

</table>
</form>
</body>
</html>

{% endblock content %}