{% extends 'Admin/Head.html' %}
{% load static %}
{% block content %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <form method="post">
            {% csrf_token %}
    <table border="1" align="center">
    
    <tr>
            <td>category</td>
            <td>
            <input type="text" name="txtname" value="{{category.category_name}}">
            </td>
    </tr>
    <tr>
    
        <td colspan="2" align="center">
                <input type="submit" name="btnsubmit" value="submit">
                <input type="reset" name="btncancel" value="cancel">
        
        </td>
        </tr>
        </table>
        </form>
        <table border="1" align="center">
        <tr>
            <th>Sl.no</th>
            <th>category</th>
            <th>Action</th>
        </tr>
        {% for i in category %}
        <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.category_name}}</td>
        <td><a href="{% url 'webadmin:delete_category' i.id %}">Delete</a>
            <a href="{% url 'webadmin:edit_category' i.id %}">edit</a></td>
    </tr>
        {% endfor %}
        </table>
</body>
</html>

{% endblock content %}