{% extends 'Admin/Head.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table border="1" align="center">   
        <tr>
            <td>item code</td>
            <td>
                <input type="text" name="itemcode">
            </td>
        </tr>

        <tr>
            <td>item name</td>
            <td><input type="text" name="itemname">
            </td>
        </tr>

        <tr>
            <td>price</td>
            <td><input type="text" name="price">
            </td>    
        </tr>

        <tr>
            <td>description</td>
            <td><input type="text" name="description"></td>
        </tr>

        <tr>
            <td>image</td>
            <td><input type="file" name="txtimage" value="image"></td>
        </tr>
    <tr>
        <td colspan="2" align="center">
            <input type="submit" name="btnsubmit" value="submit">
            <input type="reset" name="btncancel" value="cancel">
        </td>
    </tr>

    </table>
    </form>

    <table border="1" align="center">
    <tr>
        <th>SI NO.</th>
        <th>itemcode</th>
        <th>itemname</th>
        <th>price</th>
        <th>description</th>
        <th>image</th>
        <th>action</th>
    </tr>
    {% for i in item %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.item_itemcode}}</td>
        <td>{{i.item_itemname}}</td>
        <td>{{i.item_price}}</td>
        <td>{{i.item_description}}</td>
        <td><img src="{{i.item_image.url}}" alt="{{i.item_image.url}}" width="120PX" height="120PX"></td>
        <td><a href="{% url 'webadmin:delete_item' i.id %}">delete</a>
             <a href="{% url 'webadmin:edit_item' i.id %}">edit</a>
        </td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>

{% endblock content %}