{% extends 'Admin/Head.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table border="1">
        <tr>
            <th>Name</th>
            <td><input type="text" name="txtname" value=""></td>
        </tr>   
        <tr>
            <th>contact</th>
            <td><input type="text" name="txtcontact"  value=""></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" name="txtemail" value="">
            </td>
         </tr>

         <tr>
            <td>address</td>
            <td><input type="text" name="txtaddress" value="">
            </td>
        </tr>

        <tr>
            <td>photo</td>
            <td><input type="file" name="txtimage" value=""></td>
        </tr>

        <tr>
            <td>proof</td>
            <td><input type="file" name="txtproof" value=""></td>
        </tr>
        <tr>
            <td>password</td>
            <td> <input type="password" name="txtpassword"></td>
            </td>
        </tr> 

        <tr>
             <td>confirm password</td>
             <td> <input type="password" name="txtconfirmpassword"></td>
            
        </tr> 
        <tr>
            <td colspan "2" align="center">
            <input type="submit" name="submit" value="submit">
            <input type="reset" name="btnreset" value="cancel">
            </td>
        </tr>

    </table>
</form>
<table border="1" align="center">
   <tr>    
       <th>Sl.no</th>
       <th> Name</th>
       <th>contact</th>
       <th>Email</th>
       <th>address</th>
       <th>photo</th>
       <th>proof</th>
       <th>Password</th>
       <th>confirmpassword</th>
       <th>Action</th>
   </tr>
   {% for i in newuser %}
   <tr>
   <td>{{forloop.counter}}</td>
   <td>{{i.newuser_name}}</td>
   <td>{{i.newuser_contact}}</td>
   <td>{{i.newuser_email}}</td>
   <td>{{i.newuser_address}}</td>
   <td><img src="{{i.newuser_photo.url}}" alt="{{i.newuser_photo.url}}" width="120px" height="120px"></td>
   <td><img src="{{i.newuser_proof.url}}" alt="{{i.newuser_proof.url}}" width="120px" height="120px"></td> 
   <td>{{i.newuser_password}}</td>
   <td>{{i.newuser_confirmpassword}}</td>
   <td><a href="{% url 'webadmin:delete_newuser' i.id %}">Delete</a> |
   <a href="{% url 'webadmin:edit_newuser' i.id %}">edit</a></td>
</tr>
   {% endfor %}
   </table>

</body>
</html>


{% endblock content %}