{% extends 'Admin/Head.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="" method="post">
      {% csrf_token %}
      <table align="center" border="1">
        <tr>
          <td>District</td>
          <td>
            <select name="sel_dis" id="">
              <option value="">-----select-----</option>
              {% for i in disdata %}
              <option
              {% if placedata.district.id == i.id %}
                 selected
                 {% endif %}
              value="{{i.id}}">{{i.district_name}}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td>place</td>
          <td><input type="text" name="txt_place" id="" /></td>
        </tr>

        <tr>
          <td>pincode</td>
          <td><input type="text" name="txt_pincode" id="" /></td>
        </tr>

        <tr>
          <td colspan="2" align="center">
            <input type="submit" value="Save" name="save" />
            <input type="reset" value="Cancel" />
          </td>
        </tr>
      </table>
<br><br>

      <table border="1" align="center">
        <tr>
            <th>sl no</th>
            <th>district</th>
            <th>place</th>
            <th>pincode</th>
            <th>Action</th>
        </tr>
        {% for i in place %}
        <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.district.district_name}}</td>
        <td>{{i.place_name}}</td>
        <td><a href="{% url 'webadmin:delete_place' i.id %}">Delete</a>
          <a href="{% url 'webadmin:edit_place' i.id %}">edit</a>
            </td>
    </tr>
        {% endfor %}
        </table>
    </form>
  </body>
</html>

{% endblock content %}
