{% extends 'Admin/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table align="center" border="1">
            <tr>
                <td>Category</td>
                <td><select name="sel_cat" id="">
                    <option value="">-----select-----</option>
                    {% for i in catdata %}
                    <option 
                    {% if Subdata.category.id == i.id %}
                        selected
                    {% endif %}
                    value="{{i.id}}">{{i.category_name}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Subcategory</td>
                <td><input type="text" name="txt_subcat" id="" value="{{Subdata.subcategory_name}}"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Save" name="save">
                <input type="reset" value="Cancel"></td>
                
            </tr>
        </table>
        <br><br>
        <table border="1" align="center">
        <tr>
            <th>SI NO.</th>
            <th>category</th>
            <th>subcategory</th>
            <th>Action</th>
        </tr>
        {% for i in subcategory %}
        <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.category.category_name}}</td>
        <td>{{i.subcategory_name}}</td>
        <td><a href="{% url 'webadmin:delete_subcategory' i.id %}">Delete</a>
            <a href="{% url 'webadmin:edit_subcategory' i.id %}">Edit</a>
            </td>
    </tr>
        {% endfor %}
        </table>
</body>
</html>
    </form>
</body>
</html>

{% endblock content %}